@header-bg: #0f0f0f;
@hover-bg:#f9f2f4;
@main-right-bg:#fff;
@logo-bg:#181F24;
@icon-hover-bg:greenyellow;
@main-left-bg:#abc;
@accordion-hover-bg:#2C3942;
@times-color:#abc;
@white:#fff;
@input-color:#999;


//tabͨ����ʽ
.tab_header{
    width: 120px;
    height: 100%;
    float: left;
    position: relative;
    z-index: 99;

    h1{
        text-align:center;
        font-weight: normal;
        color: #f6f6ef;
        line-height: 60px;
        margin: 0;
        font-size: 1.2em;
        letter-spacing: 2px;
        background: #444;
        border-bottom: 1px solid rgba(101,116,134,.57);
    }

}

.tab_main{
    flex:1;
    -webkit-flex:1;
    -ms-flex:1;
    border-bottom: 1px solid rgba(101,116,134,.57);

    .title{
        background-color: @white;
        border-bottom: 1px solid #ccc;
        height:61px;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display:flex;

        h2 {
            font-size: 1.1em;
            text-transform: uppercase;
            margin: 0;
            letter-spacing: 3px;
            color: @input-color;
            font-weight: normal;
            padding-left: 40px;
            line-height: 60px;
            text-shadow: 1px 1px 2px @white;
            position: relative;
            flex: 1;
            -webkit-flex: 1;
            -ms-flex: 1;

            &:before {
                content:'';
                width: 36px;
                height: 36px;
                position: absolute;
                left: -19px;
                top: 12px;
                background-color:#444;
                -webkit-transform:rotate(45deg);
                -moz-transform:rotate(45deg);
                transform:rotate(45deg);
            }
        }

    }
    //end-tabͨ����ʽ
    //tab02
    .tab02{
        float:none;
        padding-bottom:10px;

        .col-xs-6.col-sm-4.col-md-3{
            padding:5px;
        }
        .panel{
            margin:0;
            .panel-body{
                .thumbnail{
                    padding: 0;
                    overflow: hidden;
                    text-overflow:ellipsis;
                    white-space:nowrap;
                    margin: 0;
                    position: relative;

                    div.half-mask{
                        //背景（透明），宽度，高度，定位
                        background-color:rgba(0,0,0,0.3);
                        width:80%;
                        height:80%;
                        padding-top:25px;
                        position:absolute;
                        top: 10%;
                        left: 10%;
                        text-align: center;
                        transition: all .3s;
                        p{
                            font-size: 25px;
                            color: #ddd;
                            span{
                                font-size: 14px;
                            }
                        }

                    }
                    &:hover{
                        .half-mask{
                            top:0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            display:block;
                            padding-top:50px;
                            background-color:rgba(0,0,0,0.7);
                            p{
                               color: #fff;
                            }
                        }

                    }
                    img{ transition: all 0.3s}
                    &:hover img{
                        transform: scale(1.3,1.3);
                    }

                }
            }
        }

    }
    //end-tab02
    //tab03 ���Ա�
    .words{
        width:100%;
        height:100%;
        max-width: 900px;

        padding: 5px 15px 25px 10px;
        //font: 12px Georgia, "Times New Roman", Times, serif;
        color: #666;
        text-shadow: 1px 1px 1px @white;

        form{
            border-bottom: 1px solid #666;
            padding:10px 10%;
            margin:0 5%;
        }

        input[type="text"],textarea,select{
            color: @input-color;
            max-width: 100%;
            padding: 0 0 0 5px;
            border: 1px solid @input-color;
            background: #FBFBFB;
            outline: 0;
            -webkit-box-shadow:inset 0 1px 6px #ECF3F5;
            box-shadow: inset 0 1px 6px #ECF3F5;
            height: 30px;
            line-height:15px;
            margin: 2px 6px 16px 0;
            display: block;
        }
        textarea{
            height:100px;
            padding: 5px 0 0 5px;
            width: 100%;
        }
        select {
          background: #fbfbfb right;
          appearance:none;
          -webkit-appearance:none;
          -moz-appearance: none;
          text-indent: 0.01px;
          text-overflow: '';
          width: 100%;
        }
        //��������
        .list{
            padding:0 10%;
            h4 b{
                background:#abc;
                line-height:28px;
                display:inline-block;
                padding: 5px 15px;
            }
            ul{
                overflow:hidden;
                padding: 0;
                li{
                    float:left;
                    clear:both;
                    width:100%;
                    border-bottom:1px dashed #d8d8d8;
                    padding:10px 0;
                    background:#fff;
                    overflow:hidden;
                    &:hover{
                        background: #fbfbfb;
                        a{
                            display:inline-block;
                        }
                    }
                }

                 .userPic {
                     float:left;
                     width:50px;
                     height:50px;
                     display:inline;
                     margin-left:10px;
                     margin-bottom: 10px;
                     border:1px solid #ccc;
                     border-radius:3px;
                     overflow: hidden;
                 }
                .content{
                    float:left;
                    display: inline;
                    width:65%;
                    font-size:13px;
                    margin: 2px 10px;
                    word-wrap:break-word;
                }
                .userName{
                    display:inline;
                    padding-right:5px;
                    a{
                        color:#2a4b78;
                    }
                }
                .userMsg{
                    display: inline;
                    word-wrap: break-word;
                }
                .times{
                    color:@times-color;font:12px/18px arial;
                    margin-top:5px;
                    overflow:hidden;
                    zoom:1;
                    span{
                        float:left;
                    }
                    a{
                        float:right;
                        color: @times-color;
                        display:none;
                    }
                }

            }

        }
        //end-��������
    }
    //end-tab03
    //tab04
    .info{
        div{
            padding-top:15px;
            @media screen and(max-width:767px){padding-top:5px;}
        }
        padding-bottom: 100px;
    }

    //end-tab04
}
